/* @import "tailwindcss"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* .carousel-track {
  display: flex;
  width: 300%;
  height: 100%;
  animation: slideCarousel 12s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

.carousel-slide {
  width: 100%;
  height: 100%;
  object-fit: contain;
  flex-shrink: 0;
  animation: stretch 12s ease-in-out infinite;
} */

.carousel-track {
  display: flex;
  width: 300%;
  height: 100%;
  animation: slideCarousel 12s cubic-bezier(0.77, 0, 0.175, 1) infinite;
  will-change: transform;
}

.carousel-slide {
  width: 100%;
  height: 100%;
  object-fit: contain;
  flex-shrink: 0;
  animation: stretch 12s linear infinite;
}

/* SLIDE GERAK */
@keyframes slideCarousel {
  0% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(0);
  }

  35% {
    transform: translateX(-100%);
  }
  65% {
    transform: translateX(-100%);
  }

  70% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(-200%);
  }
}

/* STRETCH HALUS (NO BOUNCE) */
@keyframes stretch {
  0%,
  29%,
  34%,
  64%,
  69%,
  100% {
    transform: scaleX(1);
  }

  /* tepat sebelum geser */
  31%,
  66% {
    transform: scaleX(1.035);
  }
}

/* EFEK STRETCH / BOUNCE */
/* @keyframes stretch {
  0%,
  30%,
  65%,
  100% {
    transform: scaleX(1) scaleY(1);
  }

  33%,
  68% {
    transform: scaleX(1.06) scaleY(0.96);
  }
} */

/* ===================== */

.bg-wave {
  animation: waveFlow 22s ease-in-out infinite;
  transform-origin: center;
  will-change: transform;
}

/* Wave lembut */
@keyframes waveFlow {
  0% {
    transform: scale(1) translate(0, 0);
  }

  25% {
    transform: scale(1.03) translate(-1.5%, 1%);
  }

  50% {
    transform: scale(1.06) translate(1.5%, -1%);
  }

  75% {
    transform: scale(1.03) translate(-1%, -1.5%);
  }

  100% {
    transform: scale(1) translate(0, 0);
  }
}
