/* @import "tailwindcss"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===================== */
html {
    scroll-behavior: smooth;
}

.bg-wave {
    animation: waveFlow 22s ease-in-out infinite;
    transform-origin: center;
    will-change: transform;
}

/* Wave lembut */
@keyframes waveFlow {
    0% {
        transform: scale(1) translate(0, 0);
    }

    25% {
        transform: scale(1.03) translate(-1.5%, 1%);
    }

    50% {
        transform: scale(1.06) translate(1.5%, -1%);
    }

    75% {
        transform: scale(1.03) translate(-1%, -1.5%);
    }

    100% {
        transform: scale(1) translate(0, 0);
    }
}
