<section id="home"
  class="relative sm:h-screen h-96 bg-gradient-to-br from-blue-600 to-indigo-700 flex items-center text-white overflow-hidden"
>
  <!-- Background image (aksen / bulb) -->
  <!-- <img
    src="/src/assets/background.svg"
    alt=""
    aria-hidden="true"
    class="absolute inset-0 w-full h-full object-cover pointer-events-none"
  /> -->
  <img
  src="/src/assets/background.svg"
  alt="Background"
  aria-hidden="true"
  class="absolute inset-0 w-full h-full object-cover pointer-events-none bg-wave"
 />

  <div class="relative max-w-7xl sm:mt-16 sm:w-full mx-auto px-6 grid md:grid-cols-2 gap-10 items-center">
    <div class="sm:mb-0 -mb-16">
      <h2 class="text-2xl md:text-5xl font-bold leading-tight mb-3 sm:mb-6">
        SMK NUSANTARA
      </h2>

      <h4 class="text-base md:text-xl sm:inline-block hidden font-bold leading-tight">
        Sekolah Menengah Kejuruan Pusat Keunggulan (SMK PK)  <br class="sm:inline-block hidden"/> Pertama, Dalam Satuan Pendidikan Korwil Bojong Gede <br class="sm:inline-block hidden"/> Yang Tersertifikasi Dan Berdiri Sejak Tahun 2009.
      </h4>
      <!-- <h4 class="text-base md:text-xl font-bold leading-tight">
        Merupakan sekolah tingkat kejuruan yang tersertifikasi dalam program
        Pusat Keunggulan (PK) yang diselenggarakan oleh Kementrian Pendidikan
        (KEMDIKDASMEN) Tahun 2025.
      </h4> -->

      <p class="sm:mt-6 mt-0 text-sm sm:text-lg opacity-90">
        Memiliki visi untuk menjadi sekolah vokasi yang dapat menciptakan generasi yang berprestasi, berkarakter, dan siap menghadapi masa depan.
      </p>

      <a
        href="#kontak"
        class="inline-block mx-auto mt-8 bg-yellow-400 text-gray-900 px-6 py-3 rounded-full font-semibold hover:scale-105 transition"
      >
        Daftar Sekarang
      </a>
    </div>

    <!-- gambar kanan tetap -->
    <!-- <img
      src="/src/assets/astro.svg"
      alt="Sekolah"
      class="hidden md:block drop-shadow-xl relative z-10"
    /> -->
    <div class="relative hidden md:block w-full h-[420px] overflow-hidden z-10">
        <div class="carousel-track">
            <img src="/src/assets/astro.svg" alt="Slide 1" class="carousel-slide" />
            <img src="/src/assets/astro.svg" alt="Slide 2" class="carousel-slide" />
            <img src="/src/assets/astro.svg" alt="Slide 3" class="carousel-slide" />
        </div>
    </div>

  </div>
</section>
